html
  head
    title Book Den
    block scripts
    block style
  body
      nav#navbar
        ul
          div#logo 
            img(src="/static/img/logo.jpg" style='width:48px; height:48px')
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Join Us] 
          li #[a(href="/") Contact Us]
  block content
  footer#footer 
      | Copyright © 2022 BookDen.com | All rights reserved