doctype html
html
  head
    title Book Den
    style
      include ../static/style.css
  body
    nav#navbar
        ul
          div#logo 
            img(src="/static/img/logo.jpg" style='width:48px; height:48px')
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Join Us] 
          li #[a(href="/") Contact Us]
    section#introsection 
      div Welcome to the Book Den 
      div.small  Eat Read Sleep Repeat
    section#mission
      h1 Our Mission
      div.card
        h3 Books for all
        div.card-box 
          div.card-img
            img(src='/static/img/p1.jpg' style='width:100px; height:100px')
          div.card-content 
            p We have books for all ages and all genres.
      div.card
        h3 Give and Take of books
        div.card-box 
          div.card-img
            img(src='/static/img/p2.jpg' style='width:100px; height:100px')
          div.card-content 
            p This platform can be used for exchanging books.
      div.card
        h3 Book lovers' haven
        div.card-box 
          div.card-img
            img(src='/static/img/p3.jpg' style='width:100px; height:100px')
          div.card-content 
            p A place where book lovers can connect and talk.
    section#oursponsors 
      h1 Our Sponsors 
      div#sponsors 
        img(src="/static/img/l1.jpg",alt="",class="spImage")
        img(src="/static/img/l2.png",alt="",class="spImage")
        img(src="/static/img/l3.png",alt="",class="spImage")
        img(src="/static/img/l4.jpg",alt="",class="spImage")
        img(src="/static/img/l5.jpg",alt="",class="spImage")
    footer#footer 
      | Copyright © 2022 BookDen.com | All rights reserved
    script
      include ../static/index.js